{% extends 'MotorInsuranceCompany/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Done</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block styles %}
    <style>
        .container {
            max-width: 650px;
            margin: 100px auto;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            box-sizing: border-box;
            padding: 10px;
        }
        p {
            font-size: 17px;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block content %}
        <div class="menu container mt-5">
            <center><h3 style="font-weight: bold;">Payment Completed</h3></center>
            <br>
            <p>Payment Done for Policy Number : "{{ policy.policy_number }}"</p>
            <p style="color: darkgreen; font-weight: bold;">Your policy has been Activated.</p>
            <p style="font-weight: bold;">"Your vehicle is being guarded by the Motor Shield."</p>
            <br>
            <center><a href="/menu" class="btn btn-primary">Go Back to Menu</a></center>
            <br>
        </div>
    {% endblock %}
</body>
</html>