{% extends 'MotorInsuranceCompany/index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block styles %}
    <style>
        .container {
            max-width: 500px;
            margin: 100px auto;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            box-sizing: border-box;
        }
        .form-group {
            padding: 10px;
            margin-bottom: 5px;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block content %}
        <div id="menu1" class="menu container mt-5">
            <br>
            <h2>Vehicle Data Entry</h2>
            <form action="/vehicle_details" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="vehicleType">Vehicle Type:</label>
                    <select id="vehicleType" class="form-control" name="vehicleType" required>
                    <option value="Two Wheeler">Two Wheeler</option>
                    <option value="Four Wheeler">Four Wheeler</option>
                    <option value="Commercial Vehicle">Commercial Vehicle</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="vehicleNumber">Vehicle Number:</label>
                    <input type="text" id="vehicleNumber" class="form-control" name="vehicleNumber" required>
                </div>
                <div class="form-group">
                    <label for="make">Make:</label>
                    <input type="text" id="make" class="form-control" name="make" required>
                </div>
                <div class="form-group">
                    <label for="model">Model:</label>
                    <input type="text" id="model" class="form-control" name="model" required>
                </div>
                <div class="form-group">
                    <label for="fuelType">Fuel Type:</label>
                    <select id="fuelType" class="form-control" name="fuelType" required>
                    <option value="Petrol">Petrol</option>
                    <option value="Diesel">Diesel</option>
                    <option value="Electric">Electric</option>
                    <option value="Hybrid">Hybrid</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="registrationDate">Registration Date:</label>
                    <input type="date" id="registrationDate" class="form-control" name="registrationDate" required>
                </div>
                <div class="form-group">
                    <label for="num_seats">Number of Seats:</label>
                    <input type="number" id="num_seats" class="form-control" name="num_seats" min="2" required>
                </div>
                <div class="form-group">
                    <label for="purchase_price">Purchase Price(in ₹):</label>
                    <input type="text" id="purchase_price" class="form-control" name="purchase_price" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Next</button>
                </div>
            </form>
            <br>
        </div>
    {% endblock %}
</body>
</html>